@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;


*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    items-align:center;
    content-align:center;
}
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}
.dataframe {
    text-align: center;
    border-collapse: collapse;
     table-layout:fixed;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.dataframe thead tr {
    text-align: center;

    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.dataframe th,
.dataframe td {
    text-align: center;
    padding: 12px 15px;
}
.dataframe td {
    border-right: 1px solid #f8f8f8;
    font-size: 15px;
}
.dataframe thead th {
    color: #ffffff;
    background: #4FC3A1;
}

.dataframe thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}
.dataframe tr:nth-child(even) {
    background: #F8F8F8;
}
@media (max-width: 767px) {
    .dataframe {
        display: block;
        width: 100%;
    }
.dataframe tbody tr {
    border-bottom: 1px solid #dddddd;
}

.dataframe tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.dataframe tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
 .dataframe thead, .dataframe tbody, ..dataframe thead th {
        display: block;
    }
    .dataframe thead th:last-child{
        border-bottom: none;
    }
    .dataframe thead {
        float: left;
    }
    .dataframe tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .dataframe td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .dataframe thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .dataframe tbody tr {
        display: table-cell;
    }
    .dataframe tbody tr:nth-child(odd) {
        background: none;
    }
    .dataframe tr:nth-child(even) {
        background: transparent;
    }
    .dataframe tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .dataframe tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .dataframe tbody td {
        display: block;
        text-align: center;
    }
}
